<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="CSS/style.css" />
    <link rel="shortcut icon" href="Assets/lock.svg" type="image/x-icon">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <title>Cyber Security</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">CSBA</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class=" nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            More
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li>
                                <a class="dropdown-item" href="https://cybercrime.gov.in/Webform/crmcondi.aspx">Ministry
                                    of Home
                                    Affairs <br> <small>National Cyber Crime Reporting Portal</small></a>

                            </li>
                            <hr class="dropdown-divider" />
                            <li><a class="dropdown-item" href="https://cybersecurityindia.org/">Cyber Security India</a>
                            </li>
                            <li><a class="dropdown-item"
                                    href="https://www.meity.gov.in/cyber-security-division">Ministry of Electronics &
                                    IT</a></li>
                            <li>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                            href="https://www.socialmediamatters.in/online-safety-hub/cyber-crime-cells-in-india">Helplines</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/askAiden">AskAiden</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>