<%- include ("header") -%>

<div class="intro">
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop" id="videoBackground">
        <source src="Assets/intro-back1.mp4" type="video/mp4">
    </video>
    <div class="container-fluid">
        <div class="row">
            <div class="intro-content" data-aos="fade-down">
                <h1 class="intro-head">Be Secure</h1>
                <p>We are here to help. If you have any problems or complaints related to Cyber Security then don't
                    hesitate. Talk to our Security bot.
                    <div>
                        <button type="button" class="btn btn-outline-dark btn-lg aiden-button">askAiden</button>
                    </div>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="about-section">
    <div class="box-shadow"></div>
    <div class="about container-fluid">
        <div class="row section" data-aos="fade-right">
            <div class="col-lg-6">
                <h2>Cyber Attacks</h2>
                <p data-aos="fade-up">A cyber attack is a deliberate exploitation of your systems and/or network.
                    Cyber attacks use
                    malicious code to compromise your computer, logic or data and steal, leak or hold your data hostage.
                    Cyber attack prevention is essential for every business and organisation. <br> Some examples of
                    Cyber
                    Attacks:</p>
                <ul>
                    <li data-aos="fade-left">Breach of access</li>
                    <li data-aos="fade-left">Private and public Web browser exploits</li>
                    <li data-aos="fade-left">Intellectual property (IP) theft or unauthorized access</li>
                    <li data-aos="fade-left">Identity theft, fraud, extortion</li>
                    <li data-aos="fade-left">Malware, phishing, spamming, etc</li>
                </ul>
            </div>
            <div class="col-lg-6" data-aos="fade-right">
                <div class="about-img"></div>
            </div>
        </div>
        <div class="row section toLeft" data-aos="fade-right">
            <div class="col-lg-6 box2" data-aos="fade-right">
                <div class="about-img"></div>
            </div>
            <div class="col-lg-6 box1">
                <h2>How Aiden can Help</h2>
                <p>content</p>
                <ul>
                    <li data-aos="fade-right">Sentence or Points</li>
                    <li data-aos="fade-right">Sentence or Points</li>
                    <li data-aos="fade-right">Sentence or Points</li>
                    <li data-aos="fade-right">Sentence or Points</li>
                    <li data-aos="fade-right">Sentence or Points</li>
                    <li data-aos="fade-right">Sentence or Points</li>
                    <li data-aos="fade-right">Sentence or Points</li>
                    <li data-aos="fade-right">Sentence or Points</li>
                    <li data-aos="fade-right">Sentence or Points</li>
                    <li data-aos="fade-right">Sentence or Points</li>
                </ul>
            </div>
        </div>
        <div class="row section" data-aos="fade-right">
            <div class="col-lg-6">
                <h2>Third Heading</h2>
                <p>content</p>
                <ul>
                    <li data-aos="fade-left">Sentence or Points</li>
                    <li data-aos="fade-left">Sentence or Points</li>
                    <li data-aos="fade-left">Sentence or Points</li>
                    <li data-aos="fade-left">Sentence or Points</li>
                    <li data-aos="fade-left">Sentence or Points</li>
                    <li data-aos="fade-left">Sentence or Points</li>
                    <li data-aos="fade-left">Sentence or Points</li>
                    <li data-aos="fade-left">Sentence or Points</li>
                    <li data-aos="fade-left">Sentence or Points</li>
                    <li data-aos="fade-left">Sentence or Points</li>
                </ul>
            </div>
            <div class="col-lg-6" data-aos="fade-right">
                <div class="about-img"></div>
            </div>
        </div>
    </div>
</div>

<%- include ("footer") -%>