<%- include ("header") -%>

<div class="intro">
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop" id="videoBackground">
        <source src="Assets/intro-back1.mp4" type="video/mp4">
    </video>
    <div class="container-fluid">
        <div class="row">
            <div class="intro-content" data-aos="fade-down">
                <h1 class="intro-head">Be Secure</h1>
                <p>We are here to help. If you have any problems or complaints related to Cyber Security then don't
                    hesitate. Talk to our Security bot.
                    <div>
                        <a href="/askAiden">
                            <button type="button" class="btn btn-outline-dark btn-lg aiden-button">askAiden</button>
                        </a>
                    </div>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="about-section">
    <div class="box-shadow"></div>
    <div class="about container-fluid">
        <div class="row section" data-aos="fade-right">
            <div class="col-lg-6">
                <h2 class="asd">Cyber Attacks</h2>
                <p data-aos="fade-up">A cyber attack is a deliberate exploitation of your systems and/or network.
                    Cyber attacks use
                    malicious code to compromise your computer, logic or data and steal, leak or hold your data hostage.
                    Cyber attack prevention is essential for every business and organisation. <br> Some examples of
                    Cyber
                    Attacks:</p>
                <ul>
                    <li data-aos="fade-left">Breach of access</li>
                    <li data-aos="fade-left">Private and public Web browser exploits</li>
                    <li data-aos="fade-left">Intellectual property (IP) theft or unauthorized access</li>
                    <li data-aos="fade-left">Identity theft, fraud, extortion</li>
                    <li data-aos="fade-left">Malware, phishing, spamming, etc</li>
                </ul>
            </div>
            <div class="col-lg-6" data-aos="fade-right">
                <div class="about-img img1"></div>
            </div>
        </div>
        <div class="row section toLeft" data-aos="fade-right">
            <div class="col-lg-6 box2" data-aos="fade-right">
                <div class="about-img img2"></div>
            </div>
            <div class="col-lg-6 box1">
                <h2>How Aiden can Help</h2>
                <p data-aos="fade-up">Our bot "askAiden" is available 24/7 and will help solving all your problems
                    realted to Cyber
                    Security. <br> Aiden provides the following features:</p>
                <ul>
                    <li data-aos="fade-right">Register Your Complaints.</li>
                    <ul>
                        <li data-aos="fade-right">Provides an All India Toll number.</li>
                        <li data-aos="fade-right">Registering online Complaint.</li>
                        <li data-aos="fade-right">If above options doesn't work then provides State helpline.</li>
                    </ul>
                    <li data-aos="fade-right">What's unlawful as defined by Ministry of Home Affairs.</li>
                    <li data-aos="fade-right">Provides link to take Cyber Security Courses in India.</li>
                </ul>
            </div>
        </div>
        <div class="row section" data-aos="fade-right">
            <div class="col-lg-6">
                <h2>Guidelines for Web Developers</h2>
                <p data-aos="fade-up">These are some general guidelines for a Secure Application and Infastructure:</p>
                <ul>
                    <li data-aos="fade-left">All your Web Application should be security audited initially:</li>
                    <ul>
                        <li data-aos="fade-left">In every two years </li>
                        <li data-aos="fade-left">Or whenever new module/page is added or modified or functionality is
                            changed</li>
                    </ul>
                    <li data-aos="fade-left">Ensure proper backups of system/server/devices content/logs on a segregated
                        server</li>
                    <li data-aos="fade-left">Ensure that web-applications are deployed on hardened
                        servers/infrastructures.</li>
                    <p data-aos="fade-up">For more detailed documentaion visit <a
                            href="https://www.meity.gov.in/writereaddata/files/General_Guidelines.pdf">here</a></p>
                    <!-- <li data-aos="fade-left">All components on server should be hardened and latest stable
                        (non-vulnerable) version should be upgraded.</li> -->
                    <!-- <li data-aos="fade-left">All server environment/infrastructure should be configured for least
                        privileged access, at all layers.</li> -->
                    <!-- <li data-aos="fade-left">Effectively monitor system for any changes or intrusion</li>
                    <li data-aos="fade-left">Configure system logs on server [eg:Web-Access logs, Application Logs,
                        Security Logs etc.]</li>
                    <li data-aos="fade-left">Incorporate proper security advisories across all layers of infrastructure
                        and servers.</li>
                     -->
                </ul>
            </div>
            <div class="col-lg-6" data-aos="fade-right">
                <div class="about-img img3"></div>
            </div>
        </div>
    </div>
</div>

<%- include ("footer") -%>